<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static-files/main.css">
    <meta charset="UTF-8">
    <title>note_creation</title>
</head>
<body>
<h1 class="header"> Создание записи </h1>
<form class="form" action="/create" method="post">
    <p class="under-input"> Заголовок: <input class="input" type="text" name="title"> </p>
    <p class="under-input"> Содержимое: <input class="input" type="text" name="content"> </p>
    <p class="under-input"> <input class="input" type="submit" /> </p>
</form>
</body>
</html>