<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
</head>
<body>
<h4 style="
    background: #abcaff;
    padding: 20px;
    border-radius: 5pt;
    text-align: center;
    color: white;
"> Запись {{ uuid }} </h4>
<h1 style="
    background: #abcaff;
    padding: 20px;
    border-radius: 5pt;
    text-align: center;
    color: white;
"> Заголовок: {{ title }} </h1>
<h2 style="
    background: #abcaff;
    padding: 20px;
    border-radius: 5pt;
    text-align: center;
    color: white;
"> Содержимое: {{ content }} </h2>
<h4 style="
    background: #abcaff;
    padding: 20px;
    border-radius: 5pt;
    text-align: center;
    color: white;
"> Создано: {{ time }} </h4>
</body>
</html>